<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1><%= __('Ad list') %></h1>
  <table>
    <tr>
      <th><%= __('Name') %></th>
      <th><%= __('Sell') %></th>
      <th><%= __('Price') %></th>
      <th><%= __('Picture') %></th>
      <th><%= __('Tags') %></th>
    </tr>
    <% for(var i=0; i < data.length; i++) { %>
    <tr>
      <td><%= data[i].name %></td>
      <td><%= data[i].sell %></td>
      <td><%= data[i].price %></td>
      <td><%= data[i].image %></td>
      <td><%= data[i].tags %></td>
    </tr>
    <% } %>
  </table>
</body>

</html>